.single-product {
  width: 18%;
  height: 50%;
  margin: 20px;
  border: 1px solid lightgray;
  text-align: left;
}

.single-product img {
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

.single-product h4 {
  margin: 15px 0 0 25px;
  font-weight: bolder;
  font-size: 17px;
}

.single-product p {
  margin: 0 25px;
  color: #95a0a3;
}

.single-product .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 0;
}